commands:
    01_set_npm_tmp_dir:
      command: "npm config set tmp ~/tmp"

# mapbox-gl tries to access /tmp/.npm folder
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_change_npm_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chown -R ec2-user /tmp
