

.add__prediction {
}

.max-prediction-limit-reached {
  color: '#c55'
}

button.add-prediction-button {
  height: 40px;
  width: 150px;
  border-radius: 0px;
  border: 1px solid transparent;
  border-color: lighten(#7AAFCC, 5%);
  background-color: #7AAFCC;
  color: #eee;
  padding: 0px 15px;
  touch-action: manipulation;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

button.add-prediction-button:hover {
  background-color: #4FABF8;
  border-color: #4FABF8;
  transition: background-color 0.2s;
}
