
.card__container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: calc(100vh - 175px);
  display: flex;
  flex-direction: column;
  align-items: center;

  &.expanded-full{
    top: calc(100vh - 175px);
  }
}

.card__underlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(top,  rgba(11,11,11,0) 0%, rgba(11,11,11,0.65) 10%, rgba(11,11,11,1) 23%, rgba(11,11,11,1) 82%);
  background: -webkit-linear-gradient(top,  rgba(11,11,11,0) 0%,rgba(11,11,11,0.65) 10%,rgba(11,11,11,1) 23%,rgba(11,11,11,1) 82%);
  background: linear-gradient(to bottom,  rgba(11,11,11,0) 0%,rgba(11,11,11,0.65) 10%,rgba(11,11,11,1) 23%,rgba(11,11,11,1) 82%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

$card-height: 200px;

.card__expander__img {
  width: 300px;
  height: $card-height;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
  transition: all 0.5s cubic-bezier(.85,-0.2,0,1.4);
  transform: translate3d(0, calc(#{$card-height}/2), 0);
  z-index: 1;

  &.expanded {
    transform: translate3d(0, calc(#{$card-height}/2 - 10px), 0);
    box-shadow: 0 8px 8px rgba(0,0,0,0.24), 0 0 8px rgba(0,0,0,0.12);
    transition: all 0.4s cubic-bezier(.85,-0.2,0,1.4);
  }

  &.expanded-full{
    width: 300px;
    border-radius: 0px;
    box-shadow: 0px 4px 5px 0px;
    width: 100vw;
    height: 50vh;
    transform: translate3d(0, 0, 0);
    transform-origin: top;
    transition: all 0.4s cubic-bezier(.85,-0.2,0,1.4);
  }
}

.card__expander__info {
  height: 200px;
  width: 300px;
  background-color: #fafafa;
  overflow: hidden;
  border-radius: 5px;
  opacity: 0.5;
  transition: all 0.4s cubic-bezier(.85,-0.2,0,1.4);
  transform: translate3d(0, calc(-#{$card-height}/2), 0);

  &.expanded {
    // transform: scaleY(1.5);
    // transition: transform 0.1s ease;
    box-shadow: 0px 4px 8px 0px;
    transform: translate3d(0, 0, 0);
    transition: all 0.4s cubic-bezier(.85,-0.2,0,1.4);
    width: 320px;
    opacity: 1;
    padding: 0% 2%;
  }
  &.expanded-full{
    width: 100vw;
    height: 50vh;
    border-radius: 0px;
    padding: 5%;
    transform: translate3d(0, 0, 0);
    transition-delay: 0.0s;
    transition: all 0.4s cubic-bezier(.85,-0.2,0,1.4);
  }
}

