

#mojs-thumbs-up:before {
  content: "\f164";
}
#mojs-thumbs-up {
}


.hero-container {
  max-width: 1440px;
}

.landing-page-header-container {
  height: 48vh;
}

.landing-page-header {
  padding-top:  10vh;
  margin-left: 10%;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid;
}
.landing-page-sub-header {
  margin-left: 8%;
  padding-left: calc(2% - 4px);
  padding-right: 10%;
  border-left: 4px solid #1BD1C1;
  margin-bottom: 8vh;
  max-width: 720px;
  h3 {
    line-height: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* adds to 2rem */
  }
}

.landing-languages {
  height: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .languages {
    margin: 0.2rem;
    a {
      color: #1BD1C1;
    }
  }
}

.world-map-container {
  height: 50vh;
  padding: 5% 5%;
  border-top: 2px solid #565A5C;
  border-bottom: 2px solid #565A5C;
  transition: background-color 0.4s ease;
  background-color: #444444;
  display: flex;
  justify-content: center;

  svg.worldmap {
    width: 100%;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
    fill: #edeeee;
  }
}

.world-map-container:hover {
  svg.worldmap {
    width: 100%;
    transform: scale(1.02);
    transition: transform 0.5s ease;
  }
}



.landing-page-header2-container {
  height: 40vh;
  padding-top: 1rem;
}
.landing-page-subscriptions-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-page-subscriptions {
  margin: 0% 10% 10% 10%;
  max-width: 900px;
  z-index: 1;
  border-left: 2px solid #444444;
  border-bottom: 2px solid #444444;
}

// CSS transitions
.landing-header-fade-appear {
  opacity: 0.01;
}
.landing-header-fade-appear.landing-header-fade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.landing-header-fade-enter {
  opacity: 0.01;
}
.landing-header-fade-enter.landing-header-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.landing-header-fade-leave {
  opacity: 1;
}
.landing-header-fade-leave.landing-header-fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
