


.hero-container {
  max-width: 1440px;
}

.landing-page-header-container {
  height: 98vh;
}

.landing-page-header {
  padding-top: 55vh;
  margin-left: 10%;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid;
}
@media screen and (min-aspect-ratio: 8/16) and (max-width: 600px) {
  /* portrait */
  .landing-page-header {
    padding-top: 50vh;
    margin-left: 10%;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid;
  }
}
@media screen and (min-aspect-ratio: 16/10) and (max-width: 780px) {
  /* landscape */
  .landing-page-header {
    padding-top: 30vh;
    margin-left: 10%;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid;
  }
}

.landing-page-sub-header {
  margin-left: 8%;
  padding-left: calc(2% - 4px);
  padding-right: 10%;
  border-left: 4px solid #1BD1C1;
  max-width: 720px;
  h3 {
    line-height: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* adds to 2rem */
  }
}

.landing-languages {
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .languages {
    margin: 0.2rem;
    a {
      color: #1BD1C1;
      font-size: 0.8rem;
    }
  }
}

.world-map-container {
  height: 50vh;
  padding: 5% 5%;
  border-top: 2px solid #565A5C;
  border-bottom: 2px solid #565A5C;
  transition: background-color 0.4s ease;
  background-color: #444444;
  display: flex;
  justify-content: center;

  svg.worldmap {
    width: 100%;
    height: 100%;
    fill: #edeeee;
  }
}

.world-map-container:hover {
  svg.worldmap {
    transform: scale(1.02);
    transition: transform 0.5s ease;
  }
}
@media screen and (min-aspect-ratio: 8/16) and (max-width: 600px) {
  /* portrait */
  .world-map-container {
    height: 40vh;
  }
}
@media screen and (min-aspect-ratio: 16/10) and (max-width: 780px) {
  /* landscape */
  .world-map-container {
    height: 60vh;
  }
}


.landing-page-header2-container {
  padding-top: 1rem;
}
.landing-page-header2 {
  padding-top: 10vh;
  margin-left: 10%;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid;
}
.landing-page-listings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5% 10% 10% 10%;
}

.landing-page-listings-flex {
  max-width: 650px;
  z-index: 1;
  border-left: 2px solid #444444;
  display: flex;
  flex-wrap: wrap;
}

$listings-width: 10rem;
$listings-height: 15rem;

.landing-page-listings {
  border: 2px solid #ADEADE;
  margin: 0.5rem;
  padding: 0.5rem;
  width: $listings-width;
  height: $listings-height;
}
.listings-rotated {
  width: $listings-height;
  height: $listings-width;

}

@media screen and (min-aspect-ratio: 8/16) and (max-width: 600px) {
  /* portrait */
  $listings-width: 8rem;
  $listings-height: 12rem;

  .landing-page-listings {
    margin: 0.2rem;
    padding: 0.2rem;
    width: $listings-width;
    height: $listings-height;
  }
}
@media screen and (min-aspect-ratio: 16/10) and (max-width: 780px) {
  /* landscape */
  $listings-width: 8rem;
  $listings-height: 12rem;

  .landing-page-listings {
    margin: 0.2rem;
    padding: 0.2rem;
    width: $listings-width;
    height: $listings-height;
  }
}

// draggable items
.landing-page-draggable-item {
  transition: filter 0.3s ease;
  overflow: hidden;
}



// CSS transitions
.landing-header-fade-appear {
  opacity: 0.01;
}
.landing-header-fade-appear.landing-header-fade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.landing-header-fade-enter {
  opacity: 0.01;
}
.landing-header-fade-enter.landing-header-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.landing-header-fade-leave {
  opacity: 1;
}
.landing-header-fade-leave.landing-header-fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
