
$carousel-height: 175px;
// surround with ${} when using scss variables in calc()

.local__predictions__container {
  position: absolute;
  width: 100vw;
  z-index: 0;
  color: #eee;
  // background-color: rgba(22,22,22,0.4);

  // box-shadow: 0px 1px 2px 3px #999;
  bottom: 0px;
  left: 0;
  top: calc(100vh - #{$carousel-height});
  height: $carousel-height;
  transform: scale(1);
  transition: height 0.5s ease-out;

  .local__predictions__heading {
    position: absolute;
    top: 0px;
    padding: 4px;
  }
}


.local__predictions__carousel {
  position: absolute;
}

.local__predictions__spacer {
  height: $carousel-height;
  // // black
  // background: -moz-linear-gradient(top, rgba(11,11,11,0) 0%, rgba(11,11,11,0.65) 10%, rgba(11,11,11,1) 23%, rgba(11,11,11,1) 82%);
  // background: -webkit-linear-gradient(top, rgba(11,11,11,0) 0%,rgba(11,11,11,0.65) 10%,rgba(11,11,11,1) 23%,rgba(11,11,11,1) 82%);
  // background: linear-gradient(to bottom, rgba(11,11,11,0) 0%,rgba(11,11,11,0.65) 10%,rgba(11,11,11,1) 23%,rgba(11,11,11,1) 82%);
  // // red
  // background: linear-gradient(to bottom, rgba(150,97,107,0) 0%,rgba(150,97,107,0.65) 10%,rgba(150,97,107,1) 23%,rgba(150,97,107,1) 82%);
  background-color: lighten(#F8BD7F, 15%);
  -webkit-box-shadow: 0px -2px 4px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px -2px 4px 2px rgba(0,0,0,0.65);
  box-shadow: 0px -2px 4px 2px rgba(0,0,0,0.65);
}
.local__predictions__spacer:hover {
  -webkit-box-shadow: 0px -2px 9px 2px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px -2px 9px 2px rgba(0,0,0,0.55);
  box-shadow: 0px -2px 9px 2px rgba(0,0,0,0.55);
}


.local__predictions__suburb-info {
  position: absolute;
  padding: 10%;
  // min-height: 100vh;
  color: #96616B;
  background-color: #37505C;
  touch-action: pan-y; /* Disable pull-down refresh */

  h1 {
    color:#FFEAD0;
  }
  h2 {
    color:#FFEAD0;
  }
}
