
$carousel-height: 175px;
// surround with ${} when using scss variables in calc()

.local__predictions__container {
  position: absolute;
  width: 100vw;
  z-index: 0;
  color: #eee;
  background-color: rgba(22,22,22,0.4);
  // box-shadow: 0px 1px 2px 3px #999;
  bottom: 0px;
  left: 0;
  top: calc(100vh - #{$carousel-height});
  height: $carousel-height;
  transform: scale(1);
  transition: height 0.5s ease-out;

  .local__predictions__heading {
    position: absolute;
    top: 0px;
    padding: 4px;
  }
}

// .local__predictions__container:hover {
//   position: absolute;
//   height: 100vh;
//   top: calc(100vh - #{$carousel-height});
//   transition: height 0.5s ease-in;
//   // background-color: rgba(22,22,22,0.4)
//
//   background: -moz-linear-gradient(top,  rgba(11,11,11,0) 0%, rgba(11,11,11,0.65) 10%, rgba(11,11,11,1) 23%, rgba(11,11,11,1) 82%);
//   background: -webkit-linear-gradient(top,  rgba(11,11,11,0) 0%,rgba(11,11,11,0.65) 10%,rgba(11,11,11,1) 23%,rgba(11,11,11,1) 82%);
//   background: linear-gradient(to bottom,  rgba(11,11,11,0) 0%,rgba(11,11,11,0.65) 10%,rgba(11,11,11,1) 23%,rgba(11,11,11,1) 82%);
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
//
// }

.local__predictions__carousel {
  position: absolute;
  background-color: rgba(22,22,22,0.4)
}

.local__predictions__spacer {
  height: $carousel-height;
  background: -moz-linear-gradient(top,  rgba(11,11,11,0) 0%, rgba(11,11,11,0.65) 10%, rgba(11,11,11,1) 23%, rgba(11,11,11,1) 82%);
  background: -webkit-linear-gradient(top,  rgba(11,11,11,0) 0%,rgba(11,11,11,0.65) 10%,rgba(11,11,11,1) 23%,rgba(11,11,11,1) 82%);
  background: linear-gradient(to bottom,  rgba(11,11,11,0) 0%,rgba(11,11,11,0.65) 10%,rgba(11,11,11,1) 23%,rgba(11,11,11,1) 82%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.local__predictions__suburb-info {
  top: 200px;
  padding: 10%;
  height: 100vh;
  // margin: -24px;
  color: #96616B;
  background-color: #ECC6B1;
  h1 {
    color:#FFEAD0;
  }
  h2 {
    color:#FFEAD0;
  }
}
