

.login-auth0 {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.login-auth0-loader {
  color: #eee;
  display: flex;
  justify-content: center;
  width: 40px;
  transition: width 0.6s ease-in-out;
}
.login-auth0-loader.login-loading {
  width: 70px;
  transition: width 0.6s ease-in-out;
}
.login-loading::after {
  content: 'Loading';
}
.login-logged-in::after {
  content: 'Log Out';
}

button#antd-login {
  height: 32px;
  border-radius: 0px;
  background-color: #96616B;
  border-color: lighten(#96616B, 10%);
  color: #eee;
}

button#antd-login:hover {
  background-color: #d4afdf;
  border-color: #d4afdf;
}


// CSS transitions
// 1st time appearing
$min-width: 0px;
$max-width: 65px;
.login-anim-fade-appear {
  opacity: 0.01;
  width: $min-width;
}
.login-anim-fade-appear.login-anim-fade-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
  width: $max-width;
  transition: width 200ms ease-in;
}
// entering
.login-anim-fade-enter {
  opacity: 0.01;
  width: $min-width;
}
.login-anim-fade-enter.login-anim-fade-enter-active {
  opacity: 1;
  width: $max-width;
  transition: opacity 200ms ease-in;
  transition: width 200ms ease-in;
}
// leaving
.login-anim-fade-leave {
  opacity: 1;
  width: $max-width;
}
.login-anim-fade-leave.login-anim-fade-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
  width: $min-width;
  transition: width 200ms ease-in;
}


