

.login-auth0 {
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: 2;
}

.login-auth0-loader {
 color: #eee;
 display: flex;
}

button#antd-login {
  border-radius: 0px;
  background-color: #444444;
  border-color: #4a4a4a;
  color: #eee;
}

button#antd-login:hover {
  background-color: #d4afdf;
  border-color: #d4afdf;
}
