

.navigation-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  // background-color: #eee;
}

div.Nav.Breadcrumb {
  padding: 4%;
  background-color: #96616B;
  border: 1px solid lighten(#96616B, 10%);
  color: #f8f8f8;
}
div.Nav.Breadcrumb:hover {
  border: 1px solid RGBA(212, 175, 223, 1.00);
}

.ant-breadcrumb {
  max-width: 240px;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Nav__upvotes {
  padding: 2%;
  background-color: #37505C;
  color: #87D068;
}
.Nav__downvotes {
  padding: 2%;
  background-color: #37505C;
  color: #D17B88;
}

a[class^='menu-item'] {
  margin: 4% 0%;
}

span.ant-breadcrumb-separator {
  color: #eee;
}

span.ant-breadcrumb-link a {
  color: #eee;
}
span.ant-breadcrumb-link a:hover {
  color: RGBA(212, 175, 223, 1.00);
}
