

.navigation-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  // background-color: #eee;
}

div.Nav.Breadcrumb {
  position: fixed;
  top: 1%;
  left: 1%;
  padding: 4px;
  padding-right: 8px;
  background-color: #444444;
  border: 1px solid #444444;
  color: #f8f8f8;
}
div.Nav.Breadcrumb:hover {
  border: 1px solid RGBA(212, 175, 223, 1.00);
}

span.ant-breadcrumb-separator {
  color: #eee;
}

span.ant-breadcrumb-link a {
  color: #eee;
}
span.ant-breadcrumb-link a:hover {
  color: RGBA(212, 175, 223, 1.00);
}
