


// not landing-page
.subscriptions-container {
  position: absolute;
  right: 0vw;
  top: 6vw;
  width: 25vw;
}

.subscriptions-container:hover {
}

.subscriptions-loading {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

@media screen and (min-aspect-ratio: 9/16) and (max-width: 600px) {
  .subscriptions-container {
    position: absolute;
    right: 0vw;
    top: initial;
    bottom: 12vw;
    width: initial;
    overflow-y: scroll;
  }
}

.subscriptions-outer {
  background-color: rgba(222,222,222, 0.2);
  span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.subscriptions-outer:hover {
}

.subscriptions-inner {
  border: 1px solid #444;
  border-radius: 2px;
  background-color: rgba(22,22,22,0.8);
  color: #aaa;
  padding: 2%;
  transition: background-color 0.2s ease;
  transition: width 0.2s ease;
}
.subscriptions-inner:hover {
  border: 1px solid #e4bFeF;
  background-color: #D4AFDF;
  color: #222;
  transition: background-color 0.2s ease;
}
.subscriptions-inner-expand-height {
  height: 100%;
}


.draggable-item {
  transition: filter 0.3s ease;
  overflow: hidden;
  margin: 1%;
  flex: 1 1 50%;
  flex: 200px;
}

// CSS transitions
// 1st time appearing
$min-height: 0px;
$max-height: 65px;
.subscription-draggable-fade-appear {
  opacity: 0.01;
  height: $min-height;
}
.subscription-draggable-fade-appear.subscription-draggable-fade-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
  height: $max-height;
  transition: height 200ms ease-in;
}
// entering
.subscription-draggable-fade-enter {
  opacity: 0.01;
  height: $min-height;
}
.subscription-draggable-fade-enter.subscription-draggable-fade-enter-active {
  opacity: 1;
  height: $max-height;
  transition: opacity 200ms ease-in;
  transition: height 200ms ease-in;
}
// leaving
.subscription-draggable-fade-leave {
  opacity: 1;
  height: $max-height;
}
.subscription-draggable-fade-leave.subscription-draggable-fade-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
  height: $min-height;
  transition: height 200ms ease-in;
}
