



.top-players {
  position: absolute;
  top: 100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #eee;
  padding: 10%;
}

.top-players__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
